body {
  font-family: sans-serif;
  font-size: 1.5em;
  width: 85vw;
  margin: 2em auto;
}

#app {
  text-align: center;
  padding: 0.3em;
  background-color: #f1f1f1;
  padding-bottom: 0.5em;
}

/* input:not([type="checkbox"]), #addTodo { */
#newTodo, #addTodo, #allDone {
  display: inline-block;
  margin: 1em;
  padding: 0.5em;
  font-size: 0.8em;
}

#allDone {
  width: 85%;
  margin: 0 auto;
}

input[type="checkbox"] {
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  margin: 0 1em 0 0;
}

ul {
  padding: 0 0.3em;
}

li {
  text-align: left;
  margin: 1.4em 1em;
  list-style-type: none;
  font-size: 1em;
}

.done {
  text-decoration: line-through;
  color: #818181;
}

.removeTodo {
  cursor: pointer;
  margin: 0 0.5em;
  padding: 0.3em 0.6em;
  vertical-align: top;
}